input[type=text] {
  align-items: center;
  width: 340px;
  box-sizing: border-box;

  /*border-radius: 4px;*/
  font-size: 16px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
button{
  font-family: "MS Office Symbol Bold";
  background-color: #b30000;
  padding: 8px 20px 8px 40px;
}
.c{
  /*align-items: center;*/
  margin-top: -160px;
  margin-left: 390px;
}
h1{
  /*margin-right: 100px;*/
  color: #333333;
  border: ridge;
  text-align: center;
  font-size: 14px;
}
