<div class="navbar">
  <div class="navbar-fixed-top">
    <div class="container" style="width: auto;">
      <div class="nav-collapse" id="nav-collapse">
        <ul class="nav" id="nav">
          <li class="active"><a href="#home"  ><i class="fa fa-home"></i></a></li>
          <li class="active"><a href="#experiences">EXPERIENCES</a></li>
          <li class="active"><a href="#movies">MOVIES</a></li>
          <li class="active"><a href="#events">EVENTS</a></li>
          <li class="active"><a href="#plays">PLAYS</a></li>
          <li class="active"><a href="#sports">SPORTS</a></li>
          <li class="active1"><a href="#signin">SIGN IN</a></li>
          <li class="active1"><a href="#support">SUPPORT</a></li>
          <li class="active1"><a href="#corporates">CORPORATES</a></li>
          <li class="active1"><a href="#giftcards">GIFT CARDS</a></li>
          <li class="active1"><a href="#offers">OFFERS</a></li>









        </ul>
        <!--<ul class="nav2" id="nav">-->


        <!--</ul>-->

        <!--<form>-->
        <!---->
        <!--</form>-->
      </div>
    </div>
  </div>
</div>
